{% extends 'base.html.twig' %}

{% block title %}Hello PizzasController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row ">
        <div class="card col  " style="width: 18rem;">
            
            <div class="card-body">
            <h5 class="card-title">Margarita</h5>
             <img src="{{asset('img/pizza.jpg')}}" class="card-img-top" alt="...">
            <p class="card-text">Some quick example text to build on the Royale and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">PAYER</a>
            </div>
        </div>
        <div class="card col " style="width: 18rem;">
            
            <div class="card-body">
            <h5 class="card-title">Royale</h5>
             <img src="{{asset('img/pizza.jpg')}}" class="card-img-top" alt="...">
            <p class="card-text">Some quick example text to build on the  and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">PAYER</a>
            </div>
        </div>
        <div class="card col " style="width: 18rem;">
            
            <div class="card-body">
            <h5 class="card-title">Saumon</h5>
             <img src="{{asset('img/pizza.jpg')}}" class="card-img-top" alt="...">
            <p class="card-text">Some quick example text to build on the  and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">PAYER</a>
            </div>
        </div>
      </div>
</div>
<div class="container mt-5">
    <div class="row ">
        <div class="card col " style="width: 18rem;">
           
            <div class="card-body">
            <h5 class="card-title">Imperiale</h5>
             <img src="{{asset('img/pizza.jpg')}}" class="card-img-top" alt="...">
            <p class="card-text">Some quick example text to build on the  and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">PAYER</a>
            </div>
        </div>
        <div class="card col" style="width: 18rem;">
            
            <div class="card-body">
            <h5 class="card-title">Spaciale</h5>
             <img src="{{asset('img/pizza.jpg')}}" class="card-img-top" alt="...">
            <p class="card-text">Some quick example text to build on the  and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">PAYER</a>
            </div>
        </div>
        <div class="card col" style="width: 18rem;">
            
            <div class="card-body">
            <h5 class="card-title">Stellaire</h5>
             <img src="{{asset('img/pizza.jpg')}}" class="card-img-top" alt="...">
            <p class="card-text">Some quick example text to build on the  and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">PAYER</a>
            </div>
        </div>
      </div>
</div>
<div class="container mt-5">
    <div class="row ">
        <div class="card col " style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Mondiale</h5>
             <img src="{{asset('img/pizza.jpg')}}" class="card-img-top" alt="...">
            <p class="card-text">Some quick example text to build on the  and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">PAYER</a>
            </div>
        </div>
        <div class="card col" style="width: 18rem;">
            
            <div class="card-body">
            <h5 class="card-title">Continental</h5>
             <img src="{{asset('img/pizza.jpg')}}" class="card-img-top" alt="...">
            <p class="card-text">Some quick example text to build on the  and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">PAYER</a>
            </div>
        </div>
        <div class="card col" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Régionnale</h5>
                <img src="{{asset('img/pizza.jpg')}}" class="card-img-top" alt="...">
            
            <p class="card-text">Some quick example text to build on the  and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">PAYER</a>
            </div>
        </div>
      </div>
</div>
{% endblock %}
